@font-face {
  font-family: Digital;
  src: url(../fonts/digital.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
  /* font-size: 62.5%; */
}

body {
  /* width: 100vw; */
  background-color: rgb(41, 41, 41);
}

/*.container {
  width: 80vw;
  margin: 0 auto;
}
 
.navbar {
  top: 0;
  font-size: 2rem;
  height: 10vh;
  min-height: 5rem;
  background-color: rgb(29, 28, 28);
  display: flex;
  margin-bottom: 15rem;
  position: sticky;
  z-index: 2;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.6rem;
  font-weight: 600;
}

.right-menu .menu .menu-link {
  display: inline-block;
  padding: 0.5rem;
  margin-left: 2rem;
}

.menu-link button {
  font-size: 2rem;
  height: 4rem;
  width: 10rem;
}

.navbar a {
  text-decoration: none;
  color: whitesmoke;
} */

/* .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
} */

.stopwatch {
  top: 8vh;
  position: sticky;
  padding: 2rem 5rem;
  font-size: 7rem;
  font-family: Digital;
  margin-bottom: 1rem;
  background-color: rgb(41, 41, 41);
  z-index: 1;
}

.timer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.milliseconds {
  font-size: 3rem;
  margin-bottom: -2.5rem;
}

.controls {
  font-family: "poppins", sans-serif;
}

.lap-container {
  top: 45vh;
  position: sticky;
}

.lap-unit {
  list-style: none;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

.lap-list-header {
  background-color: rgb(41, 41, 41);
  top: 45vh;
  position: sticky;
  padding: 3rem 1.2rem 1rem 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-gap: 2.5rem;
  margin-bottom: 0.6rem;
  /* margin-right: -1rem; */
  font-size: 1.2rem;
  z-index: 1;
}

.lap-time {
  text-align: start;
}

.lap-list {
  z-index: -1;
  text-align: center;
  font-size: 1.2rem;
  justify-content: space-between;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.lap-list .lap-time,
.lap-list .lap-diff {
  text-align: start;
}

@media (max-width: 500px) {
  /* .container {
    width: 95%;
  } */

  /* .main {
    width: 100%;
  } */

  .reset,
  .start {
    margin: 1rem;
    padding: 2rem;
  }

  .stopwatch {
    font-size: 4rem;
    padding: 1rem 2.5rem;
  }

  .milliseconds {
    font-size: 2rem;
    margin-bottom: -1.2rem;
  }

  /* button {
    margin-right: 1rem;
    width: 6.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
  } */

  .lap-list-header {
    top: 38vh;
    z-index: 2;
    font-size: 1.1rem;
  }

  .lap-list {
    font-size: 1rem;
    padding-top: 1rem;
  }
  .lap-unit {
    /* margin-top: 2rem; */
    margin-left: -2.3rem;
  }
}
